@model WEBTRUYEN.Models.Product

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card text-white bg-dark">
        <div class="card-body">
            <h4 class="card-title">Product Product Management</h4>
            <hr />

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Name:</strong> @Html.DisplayFor(model => model.Name)</p>
            </blockquote>

            <blockquote class="blockquote blockquote-primary">
                <p class="mb-0"><strong>Description:</strong> @Html.DisplayFor(model => model.Description)</p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Is Premium:</strong> @Html.DisplayFor(model => model.IsPremium)</p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Created At:</strong> @Html.DisplayFor(model => model.CreatedAt)</p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Image:</strong></p>
            <dd>
                <img src="@Model.ImageUrl" alt="Product Image" style="width: 20%; height: auto; object-fit: cover;" />
            </dd>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Is Active:</strong> @Html.DisplayFor(model => model.IsActive)</p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Likes:</strong> @Html.DisplayFor(model => model.Likes)</p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0"><strong>View Count:</strong> @Html.DisplayFor(model => model.ViewCount)</p>
            </blockquote>
        </div>

        <div class="card-body d-flex justify-content-between">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
